 <h2>User:</h2>
<%= @users.size  %>
<div class="table-responsive">
<table class="table table-striped table-hover table-sm">
     <thead>
         <tr>
             <th>ID </th>
             <th>Email</th>
             <th>Confirmed</th>
             <th>Banned?</th>
             <th>Name</th>
             <th>Images</th>
             <th>Roles</th>
             <th>Create Invite?</th>
             <th>Invitation Accepted?</th>
             <th colspan="3">Action</th>
         </tr>
    </thead>
    <tbody>
          <%- @users.each do |user|  -%>
            <tr>
            <td><%= link_to user.id, user_path(user)%></td>
            <td><%= user.email %></td>
            <td><%= boolean_label(user.confirmed?) %>
               <% unless user.confirmed? %>
               <%= link_to "Resend Confirmation Instruction", resend_confirmation_instructions_user_path(user), method: :patch %>
               <% end %>
               <%= link_to "Resend Confirmation Instruction", resend_confirmation_instructions_user_path(user), method: :patch %>
            </td>
            <td><%= boolean_label(user.access_locked?) %></td>
            <td><%= user.name %></td>
            <td><% if user.image.present? %>
            <%=  image_tag user.image, size: "50x50" %>
            <% end %></td>
            <td><%= user.active_roles.join(",") %></td>
            <td><%= boolean_label(user.created_by_invite?) %></td>
            <td><%= boolean_label(user.invitation_accepted?) %></td>
            <td>
                <%= link_to "Edit roles", edit_user_path(user), class:"btn btn-sm btn-warning"  %>
                <%= link_to ban_status(user), ban_user_path(user),method: :patch, class:"btn btn-sm btn-danger"  %>
                <%= link_to "Delete",user, data:{confirm: "Are you sure?"}, :method => :delete, class:"btn btn-sm btn-danger" %>
            </td>
        
            </tr>
           <% end %>
     </tbody>
</table>
</div>