<div class="card">
<div class="card-body">
<b>ID:</b>
<%= @users.id %>
<br>
<b>Email:</b>
<%= @users.email %>
<br>
<b>Confirmation:</b>
<%= @users.confirmed? %>
<br>
<b>Sign In Count:</b>
<%= @users.sign_in_count %>
<br>
<b>Current Sign  In :</b>
<%= @users.current_sign_in_at.in_time_zone("Asia/Kuala_Lumpur").strftime("%Y-%m-%e %l:%M:%S %p") %>
<br>
<b>Last Sign In :</b>
<%= @users.last_sign_in_at.in_time_zone("Asia/Kuala_Lumpur").strftime("%Y-%m-%e %l:%M:%S %p") %>
<br>
<b>Current Sign In IP :</b>
<%= @users.current_sign_in_ip %>
<br>
<b>Last Sign In IP :</b>
<%= @users.last_sign_in_ip %>
<br>
<b>Locked At :</b>
<%= (@users.locked_at)? @users.locked_at.in_time_zone("Asia/Kuala_Lumpur").strftime("%Y-%m-%e %l:%M:%S %p") : '----' %>
<br>
<b>Provider: </b>
<%= (@users.provider)? @users.provider: '----' %>
<br>
<b>Uid:</b>
<%= @users.uid %>
<br>
<b>Name:</b>
<%= @users.name %>
<br>
<b>Roles:</b>
<%= @users.active_roles.join(",") %><br>
<%= link_to "Edit roles", edit_user_path(@users), class:"btn btn-sm btn-warning"  %>
<%= link_to ban_status(@users), ban_user_path(@users),method: :patch, class:"btn btn-sm btn-danger"  %>
<%= link_to "Delete",@users, data:{confirm: "Are you sure?"}, :method => :delete, class:"btn btn-sm btn-danger" %><br>
</div>
<div class="card-footer">
<%= link_to "All User", users_path(@users) %>
</div>
</div>